<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Theron J Hitchman">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- stylesheet for pygments to work -->
    <link href="{{ site.baseurl }}/css/pygments.css" rel="stylesheet">
    <!-- MathJax -->
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

  </head>

  <body>

<div class="container">
  <div class="col-xs-12 page-header">
    <h1><a href="{{site.baseurl}}/blog/" style="font-color: black">Circles and Tangents</a></h1>
  </div>
</div>
