<dl>
  <dt>TJH Online</dt>
  <dd><ul>
    <li><a href="{{site.plusurl}}">Google Plus</a></li>
    <li><a href="{{site.githubpageurl}}">GitHub page</a></li>
    <li><a href="{{site.twitterurl}}">Twitter</a></li>
    <li><a href="{{site.baseurl}}/">Professional Page</a></li>
    <li><a href="{{site.blogurl}}">Circles and Tangents</a></li>
    <li><a href="{{site.uhwurl}}">Upper Half-Wit</a></li>
  </ul></dd>

  <dt>My Employer</dt>
  <dd><ul>
    <li><a href="{{site.uniurl}}">University of Northern Iowa</a></li>
    <li><a href="{{site.unichasurl}}">UNI CHAS</a></li>
    <li><a href="{{site.unimathurl}}">UNI Math</a></li>
  </ul></dd>

  <dt>Professional Stuff</dt>
  <dd><ul>
    <li><a href="{{site.aiblurl}}">Academy of Inquiry Based Learning</a></li>
    <li><a href="{{site.sageurl}}">Sage Math</a></li>
    <li><a href="{{site.pythonurl}}">Python</a></li>
    <li><a href="{{site.ggburl}}">GeoGebra</a></li>
    <li><a href="{{site.giturl}}">Git</a> and <a href="{{site.githuburl}}">GitHub</a></li>
    <li><a href="{{site.latexurl}}">LaTeX</a></li>
  </ul></dd>

</dl>
